<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Bạn có thể chọn giữ chuỗi kết nối này hoặc chuỗi kết nối khác bên dưới -->
		<add name="CarStoreContext" connectionString="data source=MBRO\SQLEXPRESS01;initial catalog=Car;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
